body {
    background-color: grey;
}

.navContainer {
    display: grid;
    flex-direction: row;
}

/* .dashContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: grey;
} */





