body {
    background-color: rgb(250, 250, 250);
}

.navContainer {
    display: grid;
    flex-direction: row;
}

.dashContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: grey;
}

.profile {
    grid-column-start: 3;
}

